/* !!!!!!   Example of how to use global color setting below, NO IMPORT NEEDED :) !!!!!! */

/* Button styling */
.search-button {
    margin: 30px;
    padding: 12px 20px;
    background-color: var(--blueButtonColor);  /* Example of how to use --COLOR in any css file! */
    color: black; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effect */
  }
  
  /* Hover effect for the button */
  .search-button:hover {
    background-color: var(--blueButtonHoverColor); /* Darker blue color for hover */
    color: #fff; /* Ensure text color remains white */
  }